extend new

block scripts
	script(type='text/javascript').
		$(document).ready(function(){
			initGoDiagram();
			initGoPalette();
			myDiagram.model = go.Model.fromJson(!{JSON.stringify(flow.doc)});
			$('#flowinfoform input#uri').val("#{flow.flowid}")
			$('#flowinfoform input#title').val("#{flow.title}")
			$('#flowinfoform textarea#description').val("#{flow.description}")
			$('#flowinfoform input#keywords').val("#{flow.keywords}")
			$('#flowinfoform #is_public').prop('checked', #{flow.is_public})
			$('label#displayuri').text("URI:  #{flow.flowid}");
			
			$("form#flowinfoform").change(function() {
				$('button#SaveBtn').removeAttr('disabled');
			});
			
			$("#SaveBtn").click(function(){
		        var flowdoc = myDiagram.model.toJson();
		        var title = $('#flowinfoform input#title').val().trim();
		        var description = $('#flowinfoform #description').val()
		        
		        if (title){
		        	$('#flowinfoform').submit(function(eventObj) {
						$(this).append("<input type='hidden' id='doc' name='doc'>");
					    $('#doc').val(flowdoc)
					    return true;
					});
		        	$('#flowinfoform').trigger('submit');
		        }
		        else{
		        	$('.nav-tabs a[href="#metadata"]').tab('show');
		        }
		    }); 
		});

	
block footer
	hr

block main_nav_header
	div
		ol.breadcrumb
			li.breadcrumb-item
				a(href='/flow') Flow
			li.breadcrumb-item
				a(href='/flow/#{flow.flowid}') #{flow.title}
			li.breadcrumb-item.active
				a(href='#') Edit		

block primary-actionbar
	.container
		.btn-toolbar
			button#DeleteBtn.btn.btn-danger.pull-left(data-toggle='modal', data-target='#confirm-delete') Delete
			button#SaveBtn.btn.btn-success.pull-right Update
			button#CancelBtn.btn.btn-primary.pull-right Cancel
			
	#confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true')
					myModalLabel.modal-title Confirm Delete
				.modal-body
					p You are about to delete this flow, this procedure is irreversible.
					p Do you want to proceed?
	
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Cancel
					a.btn.btn-danger(href='/flow/delete/#{flow.flowid}') Delete
