extend ../layout


append content
	.container
		if flows.length
			.content
				table.table.table-striped
					thead
						tr
							th Title
							th Created by
							th Created at
					tbody
						each flow in flows
							tr
								td 
									a(href='/flow/#{flow.flowid}') #{flow.title}
									.small #{flow.description}
								td 
									if flow.creator 
										| #{flow.creator.displayName}
								td #{flow.updated_at}


		else
			.row
				.col-md-6.col-md-offset-3(style='margin-top: 100px;margin-bottom: 50px;')
					.card
						.card-block(style='margin-left: 10px;margin-right: 10px;margin-bottom: 10px;')
							img.card-img-top.center-block(src='/images/glass-warning-sign.png', alt='Warning',width='200', height='200')
							h3.card-title OOPS, seems no public flows!


block main_nav_header
	ol.breadcrumb
		li.breadcrumb-item.active
			a(href='/flow') My flows
		li.breadcrumb-item
			b 
				a(href='/flow/public').active Shared with me

