extends layout
append styles
	// Custom styles for this template
	link(href='/css/jumbotron.css', rel='stylesheet')
block content
	.jumbotron
		.container
			h2 Hello, CLW colleagues!
			p
				| This is a flow planning tools for CLW projects
			p
				a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
				

	.container
		.row
			each flow in flows
				.col-md-4
					.wrapper
						h4 
							a(href='/flow/#{flow.flowid}') #{flow.title}
						p.small 
							| #{flow.description}
						if flow.creator 
							p #{flow.creator.displayName}
						p #{flow.updated_at}

