extends layout
append styles
	// Custom styles for this template
	link(href='/css/jumbotron.css', rel='stylesheet')
block content
	.jumbotron
		.container
			h2 Hello, CLW colleagues!
			p
				| This is a flow planning tools for CLW projects
			p
				a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
				

	.container
		.row
			each workflow in workflows
				.col-md-4
					.wrapper
						h4 
							a(href='/workflow/#{workflow.workflowid}') #{workflow.title}
						p.small 
							| #{workflow.description}
						if workflow.creator 
							p #{workflow.creator.displayName}
						p #{workflow.updated_at}

